<header>
  <h1><a routerLink="home" rel="internal">MOPO</a></h1>
  <nav class="menu">
    <a class="item" routerLink="/home" rel="internal">Início</a>
    <a class="item" routerLink="/revenues" rel="internal">Receitas</a>
    <a class="item" routerLink="/blog" rel="internal">Blog</a>
    <a class="item" routerLink="/about" rel="internal">Sobre nós</a>
  </nav>

  <section class="options">
    <label class="theme-switch">
      <input type="checkbox" id="theme-toggle" />
      <span class="slider"></span>
    </label>
    <div class="language-selector">
      <button class="language-selected">
        BR
        <span class="arrow-down"></span>
      </button>
      <div class="language-options">
        <a href="#" class="language-option" data-lang="pt-br"> PT-BR </a>
        <a href="#" class="language-option" data-lang="en-us"> EN-US </a>
      </div>
    </div>

    <nav>
      <a class="icon" routerLink="/store" rel="internal"
        ><i class="bi bi-shop"></i
      ></a>
      <a class="icon" routerLink="/sign-in" rel="internal"
        ><i class="bi bi-person-fill"></i
      ></a>
    </nav>
  </section>
</header>
