<section>
    <form action="" method="post">
        <div>
        <label for="title">Título da receita: </label>
        <input type="text" name="title" placeholder="Digite o título da receita">
        </div>

        <div>
        <label for="describe">Descrição da receita (ingredientes e modo de preparo): </label>
        <textarea name="describe" id="describe" placeholder="Digite a receita"></textarea>
        </div>

        <div>
        <label for="preparationTime">Tempo de preparo: </label>
        <input type="text" name="preparationTime" placeholder="Digite o tempo de preparo">
        </div>

        <div>
        <label for="">Rendimento: </label>
        <input type="text" placeholder="Digite o rendimento (serve quantas pessoas)">
        </div>

        <div>
        <label for="createdAt">Criada em: </label>
        <input type="text" name="createdAt" placeholder="Digite a data do cadastro da receita">
        </div>

        <div>
        <button type="submit">Cadastrar</button>
        </div>
    </form>
</section>

<app-footer-navigation></app-footer-navigation>