button{
    background-color: var(--yellow);
    color: black;
    border-radius: var(--radius);
}

input{
    border-radius: 2px;
    border: 4px solid;
}

textarea{
    border-radius: 2px;
    border: 4px solid;
}