<section>
  <form action="" method="post">
    <label for="email">Email</label>
    <input
      type="email"
      id="email"
      name="email"
      placeholder="seuemail@exemplo.com"
      minlength="10"
      maxlength="50"
      autocomplete="email"
      required
    />
    <label for="password">Senha</label>
    <input
      type="password"
      id="password"
      name="password"
      placeholder="Mínimo: 8 dígitos / máximo: 20 dígitos"
      minlength="8"
      maxlength="20"
      autocomplete="current-password"
      required
    />
    <button class="yellow-button" type="submit">Acessar</button>
  </form>
  <nav>
    <a routerLink="/sign-up" rel="internal">Cadastrar-se</a>
    <a routerLink="/reset-password" rel="internal">Esqueceu a senha?</a>
  </nav>
</section>

<picture>
  <img src="https://placehold.co/100" alt="Imagem ilustrativa" />
</picture>
